[submodule "WiFiNINA-PSoC"]
	path = WiFiNINA-PSoC
	url = https://github.com/Beirdo/WiFiNINA-PSoC.git
[submodule "emWinGraphics-PSoC"]
	path = emWinGraphics-PSoC
	url = https://gitlab.home.beirdo.ca/Beirdo/emWinGraphics-PSoC.git
[submodule "emFile-PSoC"]
	path = emFile-PSoC
	url = https://gitlab.home.beirdo.ca/Beirdo/emFile-PSoC.git
